$animationDuration: 500ms;
$animationDelay: 500ms;
$animationDelayLinks: 50ms;

@mixin links-transition {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

.nav-bar {
    position: fixed;
    z-index: 10;
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .nav-links {
        display: flex;
        list-style: none;
        height: 100%;
        width: 55%;
        margin-left: auto;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .link {
            position: relative;
            text-transform: uppercase;
            font-size: 1vw;
            text-decoration: none;
            display: inline-block;
            transition: transform $animationDuration - 250ms ease-in-out,
                color $animationDuration - 250ms ease-in-out;
            will-change: transform, color;

            &.active {
                transform: scale(2);
                transition-delay: 500ms;

                &:hover {
                    opacity: 1;
                }
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
    .logo {
        z-index: 11;
        position: absolute;
        left: 5%;
        font-size: 2.1vw;
        font-weight: 500;
        a {
            text-decoration: none;
        }
    }
}
@media all and (max-width: 768px) {
    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        &:active {
            background-color: transparent;
        }
    }
    .hamburger {
        z-index: 10;
        height: 3em;
        width: 4em;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        cursor: pointer;

        .upper-layer,
        .middle-layer,
        .lower-layer {
            position: relative;
            height: 7%;
            width: 100%;
            border-radius: 1px;
            transition: transform $animationDuration ease-in-out,
                opacity $animationDuration ease-in-out;
            transform-origin: center;
            margin: 0 0 1em 0;
        }

        .nav-circle {
            position: absolute;
            transform: translateY(-50%);
            height: 150em;
            width: 150em;
            border-radius: 50%;
            transform: translate(-20em, -140em);
            pointer-events: none;
            transition: transform $animationDuration ease-in-out,
                background-color $animationDuration - 250ms ease-in-out;
            will-change: transform, background-color;
            &.animate-hamburger {
                transform: translate(-100em, -18em);
            }
        }

        .middle-layer.animate-hamburger {
            opacity: 0;
            transform: translateX(100px);
        }

        .upper-layer.animate-hamburger {
            transform: translateY(1.2em) rotate(45deg);
        }

        .lower-layer.animate-hamburger {
            transform: translateY(-1.2em) rotate(-45deg);
        }
    }

    .nav-links {
        position: fixed;
        z-index: 10;
        top: 13%;
        height: 90vh !important; // ie11 fallback
        height: calc(var(--actual-height) - 10vh) !important;
        width: 100% !important;
        flex-direction: column;
        justify-content: space-between !important;
        list-style: none;
        transition: height 400ms ease-in-out;
        will-change: height;

        & .toggle-button {
            align-self: flex-end;
            position: relative;
            bottom: 5%;
            right: 5%;
        }
    }

    ul {
        &.nav-links {
            visibility: hidden;
            &.animate-hamburger {
                visibility: visible;
            }
        }
    }

    .nav-links li {
        pointer-events: none;
        opacity: 0;
        transform: translateY(-100px);
        transition: all $animationDuration ease-in-out !important;
        &:nth-child(6) {
            transform: translateX(100px);
        }

        &.animate-hamburger {
            &:nth-child(1) {
                @include links-transition;
            }

            &:nth-child(2) {
                @include links-transition;
                transition-delay: $animationDelayLinks !important;
            }

            &:nth-child(3) {
                @include links-transition;
                transition-delay: $animationDelayLinks + 50ms !important;
            }

            &:nth-child(4) {
                @include links-transition;
                transition-delay: $animationDelayLinks + 100ms !important;
            }

            &:nth-child(5) {
                @include links-transition;
                transition-delay: $animationDelayLinks + 150ms !important;
            }

            &:nth-child(6) {
                @include links-transition;
                transition-delay: $animationDelayLinks + 200ms !important;
            }
        }
    }

    .outer {
        font-size: 1.5em;
    }

    .line {
        height: 2% !important;
        opacity: 1 !important;
    }

    .logo {
        font-size: 3em !important;
    }

    .link {
        font-size: 2em !important;

        &.active {
            transition-delay: 0ms !important;

            &:hover {
                opacity: 1;
            }
        }

        &:hover {
            opacity: 1;
        }
    }
}
