// mobile first
.container-error {
    z-index: 5;
    position: relative;
    height: calc(var(--actual-height) - 30vh);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    margin-top: 7vh;

    .top-container-error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 100%;

        .svg-error {
            height: 100%;
            width: 100%;
        }

        div {
            position: relative;
            top: -8vh;

            p {
                letter-spacing: 0.2rem;
                font-size: 2rem;
                font-weight: 0;
            }
        }
    }
    .middle-container-error {
        height: 25%;

        p {
            font-size: 1.3rem;
        }
    }
    .bottom-container-error {
        cursor: pointer;

        p {
            font-size: 1.1rem;
            span {
                display: inline-block;
                padding-right: 0.5em;
            }
        }
    }
}

@media all and (min-width: 769px) {
    .container-error {
        .top-container-error {
            div {
                top: -10vh !important;
                p {
                    // font-size: 2.3vw;
                }
            }
        }
        .middle-container-error {
            p{
                font-size: 1.5vw;
            }
        }
        .bottom-container-error {
            p{
                font-size: 1.3vw;
            }
        }
    }
}
