.outer {
    position: relative;
    height: 1.6vw;
    width: 4vw;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0.5;
    transition: background-color 250ms ease-in-out;
    will-change: background-color;

    .inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.1vw;
        height: 1.4vw;
        width: 1.4vw;
        border-radius: 50%;
        transition: transform 250ms ease-in-out,
            background-color 250ms ease-in-out;
        will-change: background-color;
    }
}
.circle {
    transform: translate(2.4vw, -50%) !important;
}

@media all and (max-width: 768px) {
    .outer {
        height: 1.8em;
        width: 4.5em;

        .inner {
            height: 1.5em !important;
            width: 1.5em !important;
            left: 0.15em;
        }
    }

    .circle {
        transform: translate(2.7em, -50%) !important;
    }
}
